.fonu1{
	background-image: linear-gradient(#fac70b, #df0e62);
}

.fonu2{
	background-image: linear-gradient(#127681,#21174a)
}

.responsive{
	max-width: 100%;
	height: auto;
	display:block;
	margin: auto;
}

.radu{
	border-radius: 25px;
	border:10px solid #127681;
}

.fuen{
	font-family: impact;
	color: #fac70b;
	font-size: 23px;
	text-align: left;
}

.fofue{
	background-color: rgba(25, 0, 78, 0.6);
	border-radius: 15px;
}